* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto';
  }
  
  .container {
    background: #23424a;
    color: white;
    padding: 100px 0;
  }
  
  .content {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .content h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 3rem;
  }
  
  .content p {
    font-size: 1.3rem;
    opacity: .7;
  }
  
  .info {
    width: 60%;
  }
  
  button {
    border: none;
    padding: 15px 32px;
    border-radius: 25px;
    color: #072A2D;
    background: #38CFD9;
    font-weight: bold;
    margin: 20px 0;
  }